.loginform{
    
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.loginInput{
    width: 50%;
    height: 40px;
    margin: 20px;
    font-size: large;
}

.signupform{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.signupInput{
    width: 50%;
    height: 40px;
    margin: 20px;
    font-size: large;
}